
/*
To test the mobile version (Win/Linux)
[Ctrl + Shift + I]
then
[Ctrl + Shift + M]
*/

#viewport{
    width: 768px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.text-box {
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    margin: 20px auto;
    text-align: left;
}
/* Adjust font size for smaller screens (mobile) */
@media screen and (max-width: 768px) {
    .text-box {
        width: 90%;
        padding: 15px;
    }

    #viewport{
        width: 100%;
    }

}

a::before { content: attr(data-text); }
a { text-decoration: none; }

.equation {
            width: 90%;
            max-width: 600px; /* Adjust as needed */
            padding: 10px;
            overflow-x: auto; /* Enable horizontal scrolling */
            overflow-y: hidden; /* Disable horizontal scrolling */
            white-space: nowrap; /* Prevent line breaks */
            display: block;
            margin: 20px auto;
        }

note {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

note:hover {
    text-decoration-thickness: 2px;
}

note:hover::before {
    content: attr(value);
    position: absolute;
    top: -25px;
    background-color: #444;
    color: #EEE;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    transform: translateX(var(--tooltip-a, 0%));
    left: var(--tooltip-b, 0%);
    white-space: preserve nowrap;
    /*white-space: pre-line;*/ /* Allows line breaks */
    /* L 0% -->  100% R */
}



table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}